.env.local
.env
node_modules/
prisma/dev.db

# env files
.env*
controllers/payments/RazorpayPaymentsController.ts
controllers/webHooks/razorpayWebhookController.ts

# Ignore Razorpay-related files
*razorpay*
